-- ========================================================
-- STEP 1: DROP ALL EXISTING FOREIGN KEYS & TABLES
-- ========================================================
DECLARE @sql NVARCHAR(MAX) = N'';

SELECT @sql += N'ALTER TABLE ' + QUOTENAME(OBJECT_SCHEMA_NAME(parent_object_id)) 
    + '.' + QUOTENAME(OBJECT_NAME(parent_object_id)) 
    + ' DROP CONSTRAINT ' + QUOTENAME(name) + ';' + CHAR(13)
FROM sys.foreign_keys;

EXEC sp_executesql @sql;
GO

DROP TABLE IF EXISTS dbo.InvoiceItems;
DROP TABLE IF EXISTS dbo.Invoices;
DROP TABLE IF EXISTS dbo.OrderDetails;
DROP TABLE IF EXISTS dbo.Orders;
DROP TABLE IF EXISTS dbo.Products;
DROP TABLE IF EXISTS dbo.Customers;
DROP TABLE IF EXISTS dbo.Suppliers;
DROP TABLE IF EXISTS dbo.Categories;
DROP TABLE IF EXISTS dbo.Users;
GO

-- ========================================================
-- STEP 2: CREATE TABLES MATCHING YOUR SSMS STRUCTURE
-- ========================================================

-- 1. Users Table
CREATE TABLE dbo.Users (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    Username NVARCHAR(50) NOT NULL,
    PasswordHash NVARCHAR(255) NOT NULL,
    FullName NVARCHAR(100) NULL,
    Role NVARCHAR(20) NULL,
    IsActive BIT NULL DEFAULT 1,
    Email NVARCHAR(100) NULL,
    ProfileImage VARBINARY(MAX) NULL
);
GO

-- 2. Categories Table
CREATE TABLE dbo.Categories (
    CategoryID INT IDENTITY(1,1) PRIMARY KEY,
    CategoryName NVARCHAR(100) NOT NULL,
    Description NVARCHAR(255) NULL,
    Status NVARCHAR(20) NULL DEFAULT 'Active',
    CreatedAt DATETIME NULL DEFAULT GETDATE()
);
GO

-- 3. Suppliers Table
CREATE TABLE dbo.Suppliers (
    SupplierID INT IDENTITY(1,1) PRIMARY KEY,
    SupplierName NVARCHAR(100) NOT NULL,
    ContactPerson NVARCHAR(100) NULL,
    Phone NVARCHAR(20) NULL,
    Email NVARCHAR(100) NULL,
    Address NVARCHAR(255) NULL,
    CreatedAt DATETIME NULL DEFAULT GETDATE()
);
GO

-- 4. Customers Table
CREATE TABLE dbo.Customers (
    CustomerID INT IDENTITY(1,1) PRIMARY KEY,
    CustomerName NVARCHAR(100) NOT NULL,
    Phone NVARCHAR(20) NULL,
    Email NVARCHAR(100) NULL,
    Address NVARCHAR(255) NULL,
    CreatedAt DATETIME NULL DEFAULT GETDATE()
);
GO

-- 5. Products Table (Includes Computed 'Status' column)
CREATE TABLE dbo.Products (
    ProductID INT IDENTITY(1,1) PRIMARY KEY,
    ProductName NVARCHAR(100) NOT NULL,
    Price DECIMAL(18,2) NOT NULL DEFAULT 0.00,
    Stock INT NOT NULL DEFAULT 0,
    CategoryID INT NULL,
    SupplierID INT NULL,
    Status AS (
        CASE 
            WHEN Stock = 0 THEN 'Out of Stock'
            WHEN Stock <= 5 THEN 'Low Stock'
            ELSE 'In Stock'
        END
    ),
    CreatedAt DATETIME NULL DEFAULT GETDATE(),
    Descriptions NVARCHAR(MAX) NULL,
    CONSTRAINT FK_Products_Categories FOREIGN KEY (CategoryID) REFERENCES dbo.Categories(CategoryID) ON DELETE SET NULL,
    CONSTRAINT FK_Products_Suppliers FOREIGN KEY (SupplierID) REFERENCES dbo.Suppliers(SupplierID) ON DELETE SET NULL
);
GO

-- 6. Orders Table (Includes Computed 'OrderNumber' column)
CREATE TABLE dbo.Orders (
    OrderID INT IDENTITY(1,1) PRIMARY KEY,
    OrderNumber AS ('ORD-' + RIGHT('0000' + CAST(OrderID AS VARCHAR(10)), 4)),
    CustomerID INT NULL,
    OrderDate DATETIME NULL DEFAULT GETDATE(),
    TotalAmount DECIMAL(18,2) NULL DEFAULT 0.00,
    Status NVARCHAR(20) NULL DEFAULT 'Pending',
    Description NVARCHAR(255) NULL,
    Discount DECIMAL(18,2) NOT NULL DEFAULT 0.00,
    CONSTRAINT FK_Orders_Customers FOREIGN KEY (CustomerID) REFERENCES dbo.Customers(CustomerID) ON DELETE SET NULL
);
GO

-- 7. OrderDetails Table (Includes Computed 'SubTotal' column)
CREATE TABLE dbo.OrderDetails (
    OrderDetailID INT IDENTITY(1,1) PRIMARY KEY,
    OrderID INT NULL,
    ProductID INT NULL,
    Quantity INT NOT NULL DEFAULT 1,
    UnitPrice DECIMAL(18,2) NOT NULL DEFAULT 0.00,
    SubTotal AS (CAST(Quantity * UnitPrice AS DECIMAL(29,2))),
    CONSTRAINT FK_OrderDetails_Orders FOREIGN KEY (OrderID) REFERENCES dbo.Orders(OrderID) ON DELETE CASCADE,
    CONSTRAINT FK_OrderDetails_Products FOREIGN KEY (ProductID) REFERENCES dbo.Products(ProductID) ON DELETE CASCADE
);
GO

-- 8. Invoices Table
CREATE TABLE dbo.Invoices (
    InvoiceID INT IDENTITY(1,1) PRIMARY KEY,
    InvoiceDate DATETIME NOT NULL DEFAULT GETDATE(),
    CustomerID INT NULL,
    TotalAmount DECIMAL(18,2) NOT NULL DEFAULT 0.00,
    DiscountPercent DECIMAL(5,2) NOT NULL DEFAULT 0.00,
    PaymentMethod NVARCHAR(50) NULL DEFAULT 'Cash',
    Status NVARCHAR(20) NULL DEFAULT 'Paid',
    Notes NVARCHAR(MAX) NULL,
    CreatedBy NVARCHAR(100) NULL DEFAULT 'admin',
    CreatedAt DATETIME NULL DEFAULT GETDATE(),
    CONSTRAINT FK_Invoices_Customers FOREIGN KEY (CustomerID) REFERENCES dbo.Customers(CustomerID) ON DELETE SET NULL
);
GO

-- 9. InvoiceItems Table
CREATE TABLE dbo.InvoiceItems (
    InvoiceItemID INT IDENTITY(1,1) PRIMARY KEY,
    InvoiceID INT NOT NULL,
    ProductID INT NOT NULL,
    Quantity INT NOT NULL DEFAULT 1,
    UnitPrice DECIMAL(18,2) NOT NULL DEFAULT 0.00,
    CONSTRAINT FK_InvoiceItems_Invoices FOREIGN KEY (InvoiceID) REFERENCES dbo.Invoices(InvoiceID) ON DELETE CASCADE,
    CONSTRAINT FK_InvoiceItems_Products FOREIGN KEY (ProductID) REFERENCES dbo.Products(ProductID) ON DELETE CASCADE
);
GO

-- ========================================================
-- STEP 3: INSERT SAMPLE DATA
-- ========================================================

-- Insert Users
SET IDENTITY_INSERT dbo.Users ON;
INSERT INTO dbo.Users (UserID, Username, PasswordHash, FullName, Role, IsActive, Email) VALUES
(1, 'admin', 'admin123', 'System Administrator', 'Admin', 1, 'admin@example.com');
SET IDENTITY_INSERT dbo.Users OFF;
GO

-- Insert Categories
SET IDENTITY_INSERT dbo.Categories ON;
INSERT INTO dbo.Categories (CategoryID, CategoryName, Description, Status, CreatedAt) VALUES
(1, 'Electronics', 'Gadgets and electronic devices', 'Active', '2026-09-26 12:37:00'),
(2, 'Office Supplies', 'Paper, stationery, and desk items', 'Active', '2026-09-26 12:37:00'),
(3, 'Accessories', 'Computer accessories and peripherals', 'Active', '2026-09-26 12:37:00');
SET IDENTITY_INSERT dbo.Categories OFF;
GO

-- Insert Suppliers
SET IDENTITY_INSERT dbo.Suppliers ON;
INSERT INTO dbo.Suppliers (SupplierID, SupplierName, ContactPerson, Phone, Email, Address, CreatedAt) VALUES
(1, 'Tech World Ltd', 'John Smith', '012345678', 'john@techworld.com', 'Phnom Penh', '2026-09-26 12:37:00'),
(2, 'Global Stationery', 'Alice Wong', '098765432', 'alice@stationery.com', 'Siem Reap', '2026-09-26 12:37:00');
SET IDENTITY_INSERT dbo.Suppliers OFF;
GO

-- Insert Customers
SET IDENTITY_INSERT dbo.Customers ON;
INSERT INTO dbo.Customers (CustomerID, CustomerName, Phone, Email, Address, CreatedAt) VALUES
(1, 'Sovan', '012111222', 'sovan@mail.com', 'Phnom Penh', '2026-09-26 12:37:00'),
(2, 'Chantha', '012333444', 'chantha@mail.com', 'Siem Reap', '2026-09-26 12:37:00'),
(3, 'Bora', '012555666', 'bora@mail.com', 'Battambang', '2026-09-26 12:37:00'),
(4, 'Dara', '012777888', 'dara@mail.com', 'Kampot', '2026-09-26 12:37:00');
SET IDENTITY_INSERT dbo.Customers OFF;
GO

-- Insert Products
SET IDENTITY_INSERT dbo.Products ON;
INSERT INTO dbo.Products (ProductID, ProductName, Price, Stock, CategoryID, SupplierID, Descriptions, CreatedAt) VALUES
(1, 'Wireless Mouse', 15.00, 100, 1, 1, '2.4GHz Wireless Optical Mouse', '2026-09-26 12:39:00'),
(2, 'Mechanical Keyboard', 50.00, 0, 1, 1, 'RGB Backlit Mechanical Gaming Keyboard', '2026-09-26 12:39:00'),
(3, 'LED Monitor 24inch', 150.00, 3, 1, 1, 'Full HD 1080p IPS Monitor', '2026-09-26 12:39:00'),
(4, 'A4 Paper Box', 20.00, 200, 2, 2, '80gsm High-Quality Printing Paper', '2026-09-26 12:39:00');
SET IDENTITY_INSERT dbo.Products OFF;
GO

-- Insert Orders
SET IDENTITY_INSERT dbo.Orders ON;
INSERT INTO dbo.Orders (OrderID, CustomerID, OrderDate, TotalAmount, Status, Description, Discount) VALUES
(1, 1, '2026-04-12 10:00:00', 80.00, 'Completed', 'Standard Order', 0.00),
(2, 2, '2026-04-25 15:30:00', 150.00, 'Completed', 'Bulk Purchase', 5.00),
(3, 1, '2026-05-10 09:30:00', 115.00, 'Completed', 'Regular Order', 0.00);
SET IDENTITY_INSERT dbo.Orders OFF;
GO

-- Insert OrderDetails
SET IDENTITY_INSERT dbo.OrderDetails ON;
INSERT INTO dbo.OrderDetails (OrderDetailID, OrderID, ProductID, Quantity, UnitPrice) VALUES
(1, 1, 4, 4, 20.00),
(2, 2, 3, 1, 150.00);
SET IDENTITY_INSERT dbo.OrderDetails OFF;
GO

-- Insert Invoices
SET IDENTITY_INSERT dbo.Invoices ON;
INSERT INTO dbo.Invoices (InvoiceID, InvoiceDate, CustomerID, TotalAmount, DiscountPercent, PaymentMethod, Status, Notes, CreatedBy, CreatedAt) VALUES
(1, '2026-04-12 10:00:00', 1, 80.00, 0.00, 'Cash', 'Paid', 'Paid in full', 'admin', '2026-04-12 10:00:00'),
(2, '2026-04-25 15:30:00', 2, 150.00, 5.00, 'Credit Card', 'Paid', '5% discount applied', 'admin', '2026-04-25 15:30:00');
SET IDENTITY_INSERT dbo.Invoices OFF;
GO

-- Insert InvoiceItems

SET IDENTITY_INSERT dbo.InvoiceItems ON;
INSERT INTO dbo.InvoiceItems (InvoiceItemID, InvoiceID, ProductID, Quantity, UnitPrice) VALUES
(1, 1, 4, 4, 20.00),
(2, 2, 3, 1, 150.00);
SET IDENTITY_INSERT dbo.InvoiceItems OFF;
GO